/* Zenponsive base

/* Basic reset all so you really get really only the margins/paddings you want 
 * It is recommend to include a normalize.css before zenponsive.css
------------------------------------------------------------------------------*/
html,
body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
}

body * {
 	margin:0;
	padding:0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
	-ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* Main content wrapper for the site or parts of it
---------------------------------------------------*/
.#{$prefix}wrapper {
	min-width: 240px;
	margin: 0 auto;
	position:relative;
}

/* Predefined for some general used widths
--------------------------------------------------*/
.#{$prefix}w479 { max-width: 479px; } //Smartphone
.#{$prefix}w767 { max-width: 767px; } //Smaller tablet 
.#{$prefix}w960 { max-width: 960px; } //Standard desktop 
.#{$prefix}w1024 { max-width: 1024px; } //Standard desktop wider
.#{$prefix}w1280 { max-width: 1280px; } //Bigger desktop 
.#{$prefix}w1600 { max-width: 1600px; } //Big desktop
.#{$prefix}wFull { max-width: 100%; } //Full width

/* Default gutters 2% and 4%
-----------------------------*/
.#{$prefix}gutter2 {
	margin-left: -2% !important;
}
.#{$prefix}gutter2 > * {
	margin-left: 2% !important;
}

.#{$prefix}gutter4 {
	margin-left: -4% !important;
}
.#{$prefix}gutter4 > * {
	margin-left: 4% !important;
}

/* Responsive images
------------------------------*/
img {
	width: auto; 
	max-width: 100%;
	height: auto;
	border: 0;
	display: block;
}

/* Show and hide helpers
------------------------------*/
.#{$prefix}hide { display: none !important; }
.#{$prefix}show { display: block !important; }
.#{$prefix}invisible { visibility: hidden !important; }
.#{$prefix}visible { visibility: visible !important; }